<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body bgcolor="aqua">
<a href="home">Home</a>

<h3>Status jak gruby jesteś to: <p th:text="${info}"></p> </h3>

Twój wzrost<br>
<p th:text="${wzrost}"></p>

Twoja waga<br>
<p th:text="${waga}"></p>

Wskaźnik bmi wynosi<br>
<p th:text="${bmi}"></p>

Twój rezultat na podstawie wskaźnika BMI to:<br>
<p th:text="${info}"></p>

zakresy wartości BMI:<br>
mniej niż 16 wygłodzenie<br>
16 - 16.99 - wychudzenie<br>
17 - 18.49 - niedowaga<br>
18.5 - 24.99 - wartość prawidłowa<br>
25 - 29.99 - nadwaga<br>
30 - 34.99 - I stopień otyłości<br>
35 - 39.99 - II stopień otyłości<br>
powyżej 40 - otyłość skrajna<br>

</body>
</html>