<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body bgcolor="aqua">


<a href="home">Home</a>

<form action="/bmi">

    <label>Wzrost:</label>
    <input type="text" name="height" placeholder="Twój wzrost">

    <label>Waga:</label>
    <input type="text" name="weight" placeholder="Twoja waga">

    <input type="submit" value="Wyślij">

    <div class="opcja">
        <input type="checkbox" name="woman" value="Kobieta"> Kobieta<br>
        <input type="checkbox" name="man" value="Mężczyzna">Mężczyzna<br>
    </div>

</form>


<br><br>

Zakresy wartości BMI:<br>
mniej niż 16 - wygłodzenie<br>
16 - 16.99 - wychudzenie<br>
17 - 18.49 - niedowaga<br>
18.5 - 24.99 - wartość prawidłowa<br>
25 - 29.99 - nadwaga<br>
30 - 34.99 - I stopień otyłości<br>
35 - 39.99 - II stopień otyłości<br>
powyżej 40 - otyłość skrajna

</body>
</html>